/* common css start */
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

body {
font-family: 'Poppins', sans-serif;
}

p {
    color: gray;
    font-size: 16px;
}

h1 {
    font-size: 50px;
    color: gray;
}

h2 {
    font-size: 40px;
    color: gray;
}

h3 {
    font-size: 20px;
    color: gray;
}

/* common css end */

/* header part start */
.header_part {
    width: 100%;
    background: rgb(8, 187, 241);
    height: 70px;
}

.wrapper {
    width: 90%;
    margin: 0% 5%;
    height: 70px;
    display: flex;

}

.logo {
    width: 20%;
    height: 70%;
    margin-top: -120px;
    text-align: center;
}
.logo a{ 
    width: 100%;
}
.logo a img{
    width: 108%;
}

    .header_menu{
        width: 50%;
        height: 70px;
        
    }
    .header_menu ul{
        float: right;
    }
    .header_menu ul li{
        float: left;
        padding: 19px 25px;
    }
    .header_menu ul li a{
        font-size: 20px;
        text-transform: capitalize;
        color: black;
    }
    .header_menu ul li:hover a{
        color: cyan;
    }

    .button {
        width: 20%;
        height: 70px;
        padding: 21px 15px;

    }
    button{
        background-image: linear-gradient(#0cdfd4, #00ff37 );
        
    }
/* header part end */